.fullImage {
    display: flex;
    justify-content: center;
}

.fullImage img {
    overflow: hidden;
}

.dot {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px dotted red;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    animation: 0.2s appear;
}

.menu {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.7);
    animation: 0.5s appear;
}

.menu img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu button {
    width: 100%;
    border: none;
    background-color: inherit;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu button:hover {
    background-color: rgba(0,0,0,0.5);
}

.characterImgs {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;    
}

.characterImgs > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.characterImgs img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.clickedClass {
    opacity: 0.2;
    text-decoration: line-through;
}

.answerClass {
    list-style: none;
    margin: 0;
    padding: 0;
}

.answerClass > li {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.finishClass {
    left: calc(50% - 200px);
    top: calc(50% - 150px);
    border: 1px solid red;
    position: absolute;
    padding: 100px 150px;
    background-color: black;
    font-weight: bold;
    font-size: 2em;
}

.obscurity :not(.finishClass) {
    opacity: 0.5;
}